
.env
.env.*
!.env.example   # Исключение: пример конфига оставляем в Git, чтобы команда видела структуру
*.pem
*.key
credentials.json
secret_key.txt


__pycache__/
*.py[cod]
*$py.class

venv/
.venv/
env/
.env_python/

pip-log.txt
pip-delete-this-directory.txt
.pytest_cache/
.coverage
htmlcov/
.tox/
.mypy_cache/


celerybeat-schedule
celerybeat.pid
*.model
*.h5
*.pkl


node_modules/
dist/
dist-ssr/
build/
.npm/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.eslintcache
.vite/


docker-compose.override.yml
.docker/


postgres_data/
redis_data/
minio_data/


.vscode/
.idea/
*.swp
*.swo
.project
.settings/

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*~